<h4>Thông tin tài khoản</h4>
<form (ngSubmit)="updateUser()">
<div class="img-box" *ngIf="selectedFile">
   
    <img [src]="imagePreView" style="width: 300px;height: 300px;" alt="Selected Image">
</div>
<div *ngIf="!selectedFile ">
    <img  [src]="'http://localhost:8080/images/' +userDto.image" style="width: 300px;height: 300px;" >
</div>

<label>SELECT FILE</label>
<div>
    <input type="file" id="filein" (change)="onFileSelected($event)">
</div>
<div>
    <button type="submit">Cập nhật</button>
</div>
</form>

<form (ngSubmit)="updateInfor()">
<div>
    <label>Họ</label>
    <input type="text" name="firstName" [(ngModel)]="userDto.firstName" value="{{userDto.firstName}}">
</div>
<div>
    <label>Tên</label>
    <input type="text" name="lastName" [(ngModel)]="userDto.lastName" value="{{userDto.lastName}}">
</div>
<div>
    <label>Email</label>
    <input type="text" name="email" [(ngModel)]="userDto.email" value="{{userDto.email}}">
</div>
<div>
    <label>SDT</label>
    <input type="text" name="phoneNumber" [(ngModel)]="userDto.phoneNumber" value="{{userDto.phoneNumber}}">
</div>
<div>
    <button type="submit">Cập nhật</button>
</div>
</form>

