








<!-- <header>
    <div class="container-large">
        <div class="top-box">
            <div class="logo" >
                <a class="" routerLink="" routerLinkActive="active" ><span>UTC2</span><span>Store</span></a>
            </div>
<div >
    <div class="login-wrap">
        <div class="login-item">
            <a class="" routerLink="/login" routerLinkActive="active"> <i class="fa-solid fa-circle-user"></i> Đăng nhập</a>
        </div>
        <div class="login-item">
            <a class="" routerLink="/signup" routerLinkActive="active"> <i class="fa-solid fa-phone"></i>Đăng kí</a>
        </div>
    </div>
</div>
        </div>
        <div class="bottom-box">
            <ul class="main-menu">
            </ul>
            <div class="search-wrap">
                <div class="search-box">
                    <form class="form-inline"  asp-action="Index" method="get" style="display: flex; flex-direction: row;">
                        <div class="">
                            <input type="text" name="searchName" placeholder="Search">
                        </div>
                        <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <a class="cart-box" >
                    <i class="bi bi-cart"></i>
                    <span id="cartCount" class="num">0</span>
                </a>
            </div>
        </div>
    </div>
</header> -->
<body>
    <div class="content-body">
        <div style="display: flex;height: 100vh;justify-content: center;align-items: center;">
            <div class="containersignin">
                <div class="form-wrap">
                    <form (ngSubmit)="login()" [formGroup]="loginForm">
                        <h2 class="title-form">Đăng nhập</h2>
                        <div class="body-form">
                            <div class="form-input">
                                <label class="form-label">Email</label>
                                <input class="form-control" formControlName="email" type="email" aria-required="true"
                                    placeholder="email" required />
                                <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                                    class="text-danger">Please enter a valid email </span>
                            </div>
                            <div class="form-input">
                                <label class="form-label">Password</label>
                                <input class="form-control" formControlName="password" type="password" aria-required="true"
                                    placeholder="password" required />
                                <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                                    class="text-danger">Please enter a valid password</span>
                            </div>
                            <div>
                                <button type="submit" class="btsubmit">Đăng nhập</button>
                            </div>
                        </div>
                        <div class="foot-form">
                            <a href="#">Quên mật khẩu</a>
                            <a href="#" routerLink="/signup" routerLinkActive="active">Đăng ký</a>
                        </div>
                    </form>
                </div>
            </div>
        
        </div>
        
        </div>
</body>

<!-- <footer>
    <div class="container-large">
        <div class="wrap-footer">
            <div class="about-us">
                <div class="title fw-semibold">Về chúng tôi</div>
                <div class="logo">
                    <a class="" ><span>UTC2</span><span>Store</span></a>
                </div>
                <p class="fw-lighter pt-2">Đến với UTC2<span>STORE</span> quý khách sẽ được trải nghiệm các sản phẩm hoàn toàn mới với chất lượng đảm bảo uy tín - mẫu mã.</p>
            </div>
            <div class="other-us">
                <div class="title fw-semibold">Chi nhánh</div>
                <span class="fw-lighter">Cơ sở: <span class="">Đ.448 Lê Văn Việt, P. Tăng Nhơn Phú A, Tp.Thủ Đức, Tp</span></span><br />
            </div>
            <div class="contact-us">
                <div class="title fw-semibold">Liên hệ</div>
                <div class="text-wrap">
                    <p class="fw-lighter">Điện thoại</p>
                    <span class="">0399333643</span>
                </div>
                <div class="text-wrap">
                    <p class="fw-lighter">Email CSKH</p>
                    <span class="">6251071033@st.utc2.edu.vn</span>
                </div>
                <div class="text-wrap">
                    <p class="fw-lighter">Email công việc</p>
                    <span class="">phuochungnguyen.work@gmail.com</span>
                </div>
                <div class="text-wrap">
                    <p class="fw-lighter">Thứ Hai - Chủ Nhật</p>
                    <span class="">8h30-22h</span>
                </div>
            </div>
            <div class="follow-us">
                <div class="title fw-semibold">Hệ thống cửa hàng</div>
                <p class="fw-lighter">Hiện tại @item.namestorage<span>STORE</span> chỉ hoạt động kinh doanh qua các kênh trực tuyến: Website, Facebook, Instagram, Shopee, Lazada & Tiktok shop</p>
                <div class="list-icon">
                    <a >  <i class="fa-brands fa-instagram"></i></a>
                    <a > <i class="fa-brands fa-facebook-f"></i></a>
                    <a>  <i class="fa-brands fa-tiktok"></i></a>
                    <a > <i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer> -->

