<mat-toolbar>Thêm sản phẩm</mat-toolbar>

<div class="">
    <form (ngSubmit)="addProduct()" [formGroup]="productForm">
        <div class="example-container">

            <div class="select-wrap">
                <mat-form-field class="select-box">
                    <mat-label>Loại sản phẩm</mat-label>
                    <mat-select formControlName="categoryId" name="categoryId">
                        <mat-option *ngFor="let category of listOfCategories" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                        <div style="color: red;"
                        *ngIf="productForm.controls['categoryId'].invalid && (productForm.controls['categoryId'].dirty || productForm.controls['categoryId'].touched)">
                        <div *ngIf="productForm.controls['categoryId'].errors && productForm.controls['categoryId'].errors['required']">
                          Vui lòng nhập tên sản phẩm</div>
                      </div>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="select-box">
                    <input matInput type="text" formControlName="productName" name="productName"
                        placeholder="Tên sản phẩm">
                        <div style="color: red;"
        *ngIf="productForm.controls['productName'].invalid && (productForm.controls['productName'].dirty || productForm.controls['productName'].touched)">
        <div *ngIf="productForm.controls['productName'].errors && productForm.controls['productName'].errors['required']">
          Vui lòng nhập tên sản phẩm</div>
      </div>
                </mat-form-field>
                <mat-form-field class="select-box">
                    <input matInput type="text" formControlName="description" name="description"
                        placeholder="Mô tả sản phẩm">
                        <div style="color: red;"
                        *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].dirty || productForm.controls['description'].touched)">
                        <div *ngIf="productForm.controls['description'].errors && productForm.controls['description'].errors['required']">
                          Vui lòng nhập tên sản phẩm</div>
                      </div>
                </mat-form-field>
                <div>
                    <button class="btn-wrap add-prd" type="submit" [disabled]="productForm.invalid">Thêm</button>
                </div>
            </div>


            <div class="img-wrap">

                <label for="filein" class="imgProduct" im>Ảnh sản phẩm
                    <div class="image" *ngIf="selectedFile">
                        <div>
                            <img [src]="imagePreView" style="width: 100%;height: auto;" alt="Selected Image">
                        </div>
                    </div>
                </label>


                <div>
                    <input style="margin-top: 10px;" type="file"  id="filein" (change)="onFileSelected($event)">
                </div>
            </div>
        </div>
    </form>
    <style>
        .select-box {
            background-color: #fff;
        }

        .select-box div {
            border-bottom: 1px solid #e74c3c !important;
        }

        .mat-mdc-text-field-wrapper {
            border-bottom: 1px solid #e74c3c
        }
    </style>
</div>