<p>postproduct works!</p>
<form (ngSubmit)="addProduct()" [formGroup]="productForm">
    <div>
        <label>SELECT CATEGORY</label>
        <select formControlName="categoryId" name="categoryId">
        <option *ngFor="let category of listOfCategories" [value]="category.id">
        {{category.name}}
        </option>
        </select>
    </div>
    <div>
        <label>Select a File</label>
        <input type="file" id="fileInput"  (change)="onFileSelected($event)"  >
        
    </div>
    <div *ngIf="selectedFile" >
        <div>
          <img [src]="imagePreView" alt="Selected Image">
        </div>
    
    </div>
    <div>
        <label>Tên sản phẩm</label>
        <input type="text" formControlName="productName" name="productName" placeholder="Tên sản phẩm">
    </div>
    <div>
        <label>Mô tả</label>
        <input type="text" formControlName="description" name="description" placeholder="Mô tả">
    </div>
    <div>
        <label>Giá nhập</label>
        <input type="text" formControlName="importPrice" name="importPrice" placeholder="Mô tả">
    </div>
    <div>
        <label>Giá bán</label>
        <input type="text" formControlName="exportPrice" name="exportPrice" placeholder="Mô tả">
    </div>
    <div>
        <label>Số lượng</label>
        <input type="text" formControlName="quantity" name="quantity" placeholder="Mô tả">
    </div>
    <div>
        <button type="submit">THÊM</button>
    </div>
</form>
