
<div class="container-web">
    <div class ="order-complete">
        <div class="order-complete-left">
                <div class="order-complete-address">
                     <form >
                    <div class="address-detail">
                        <div class="address-detail-head">
                                <h4>Thông tin người nhận</h4>
                                <a id="open-more-address" (click)="OpenMore()" >Thay đổi địa chỉ</a>
                        </div>
                        <div class="address-detail-tail">
                            <div class="forAddress">
                                <li>
                                    <a  >{{user.firstName}} {{user.lastName}} </a>
                                </li>
                                <li>    
                                    <a  >{{user.phoneNumber}}</a>
                                </li>
                                <li>
                                    <a >  {{address.street}} {{address.state}} {{address.country}} {{address.city}}</a>
                                </li>
                            </div>
                          
                        </div> 
                    </div>
                    </form>
                </div>

                <label> <input type="checkbox" (click)="handleClickOrderAll()"  #myCheckbox (change)="onCheckboxChange(myCheckbox.checked)"> Tất cả</label>
                <form style="padding: 0;" >
                    <table style="box-shadow: unset; border: 1px solid #ccc;" mat-table [dataSource]="carts" class="mat-elevation-z8">
                        <ng-container matColumnDef="thaotac">
                          <th mat-header-cell *matHeaderCellDef> </th>
                          <td mat-cell *matCellDef="let element">
                            <label>
                                <input  type="checkbox" (click)="handleCartId(element.id)"
                                          [checked]="selectedOrderId === element.id" 
                                           (change)="updateSelectedOrder(element.id)" />
                                </label>   
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="anh">
                          <th mat-header-cell *matHeaderCellDef>Ảnh </th>
                          <td mat-cell *matCellDef="let element">  <img  [src]="'http://localhost:8080/images/' +element.image" style="width: 50px; height: 50px;" > </td>
                        </ng-container>
                       
                        <ng-container matColumnDef="ten">
                          <th mat-header-cell *matHeaderCellDef> Tên sản phẩm </th>
                          <td mat-cell *matCellDef="let element">  
                            {{element.productName}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="phanloai">
                            <th mat-header-cell *matHeaderCellDef> Phân loại </th>
                            <td mat-cell *matCellDef="let element">  
                                <span>{{element.color}}</span>
                                <br>
                                <span>{{element.size}}</span>
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="soluong">
                            <th mat-header-cell *matHeaderCellDef> Số lượng </th>
                            <td mat-cell *matCellDef="let element">  
                                {{element.quantity}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="gia">
                            <th mat-header-cell *matHeaderCellDef> Giá </th>
                            <td mat-cell *matCellDef="let element">  
                                {{element.price}}
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="tongtien">
                            <th mat-header-cell *matHeaderCellDef> Tổng tiền </th>
                            <td mat-cell *matCellDef="let element">  
                                {{tinhtich(element.price,element.quantity)}} 
                            </td>
                          </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                 </form>
                 <hr>
                 <br>
                 <div class="order-complete-product">
                    <h3>Phương Thức Thanh Toán</h3>
                        <div class="order-complete-payment" *ngFor="let payment of listPayment">
                            <div class="chose-payment">
                                <div class="chosen-payment">
                                    <i class="fa fa-money" ></i>
                                    <mat-radio-button (click)="handlePaymentSelection(payment.id)">{{payment.name}}</mat-radio-button>
                                    <div *ngIf="selectedPaymentId === payment.id">
                                       <div *ngFor="let paymentType of listpaymentType">
                                        <mat-radio-button (click)="handlePaymentTypeSelection(paymentType.id)">
                                            <img  [src]="'http://localhost:8080/images/' +paymentType.image" style="width: 50px; height: 50px;" >
                                            {{paymentType.value}}</mat-radio-button>
                                       <br>
                                    </div>
                                    </div>
                                    <span></span>
                                </div>
                            </div>
                            <br>
                        </div>
                        <hr>
                        <hr>
                    <div class="order-chose-ship">
                            <h3>Giao Hàng</h3>
                            <div class="chosen-ship" >
                                <div>
                                    <mat-radio-button (click)="handleDelivery()" type="radio" name="delivery"></mat-radio-button>
                                    <!-- <input (click)="handleDelivery()" type="radio" name="delivery"  > -->
                                </div>
                                <div class="chosen-ship-detail">
                                    <a>Tiêu chuẩn</a>
                                    <a id="ship-price">20.000 VND</a>
                                    <div>
                                        <a>Dự kiến nhận: </a>
                                        <a>Na/Na</a>
                                    </div>

                                </div>
                            </div>
                    </div>
                        <hr>
                        <hr>
                  
                 
                </div>
        </div>
        <div class="order-complete-right">
            <div class="your-order">
                <h3>Thông tin đơn hàng</h3>
                <div *ngIf="myCheckbox.checked">
                   
                        <div >
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="cart-product-name">Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th class="cart-product-total">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div *ngFor="let cartitem of listCartDetailDto" >
                    
                                        <tr class="cart_item">
                                            <td class="cart-product-total text-center truncate">{{cartitem.productName}}</td>
                                            <td><strong class="product-quantity">
                                             {{cartitem.quantity}}</strong></td>
                                            <td class="cart-product-total text-center"><span class="amount">{{cartitem.price}}VND</span></td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                        </div>
                        <div class="order-complete-end">
                    
                            <div class="order-conplete-end-ship"></div>
                            <div class="end-details">
                                <div class="item-all-price">
                                    <a>Tổng tiền sản phẩm: </a>
                                    <a id="pay-item-price">{{totalAmount}}</a>
                                </div>
                                <div class="item-ship-price">
                                    <a>Phí vận chuyển: </a>
                                    <a id="pay-ship">{{priceDelivery}} </a>
                                </div>
                                <hr>
                                <div class="item-end">
                                    <a>Tổng thanh toán: </a>
                                    <a id="pay-all">{{totalAmount+priceDelivery}}</a>
                                </div>
                            </div>
                        </div>
                    
                    
                </div>
                <div *ngIf="myCheckbox.checked==false" class="your-order-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="cart-product-name">Sản phẩm</th>
                                <th class="cart-product-total">Thông tin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart_item">
                                <td class="cart-product-name">Tên:</td>
                                <td class="cart-product-total text-center truncate"><span class="amount">{{cartDetailDto.productName}}</span></td>
                            </tr>
                            <tr class="cart_item">
                                <td class="cart-product-name">Số lượng</td>
                                <td class="cart-product-total text-center"><span class="amount">{{cartDetailDto.quantity}}</span></td>
                            </tr>
                            <tr class="cart_item">
                                <td class="cart-product-name">Giá</td>
                                <td class="cart-product-total text-center"><span class="amount">{{cartDetailDto.price}}</span></td>
                            </tr>
                            <tr class="cart_item">
                                <td class="cart-product-name">Kích thước</td>
                                <td class="cart-product-total text-center"><span class="amount">{{cartDetailDto.size}}</span></td>
                            </tr>
                            <tr class="cart_item">
                                <td class="cart-product-name">Màu sắc</td>
                                <td class="cart-product-total text-center"><span class="amount">{{cartDetailDto.color}}</span></td>
                            </tr>
                        </tbody>
                   
                    </table>
                    <div class="order-complete-end">
                    
                        <div class="order-conplete-end-ship"></div>
                        <div class="end-details">
                            <div class="item-all-price">
                                <a>Tổng tiền sản phẩm: </a>
                                <a id="pay-item-price">{{cartDetailDto.price*cartDetailDto.quantity}}</a>
                            </div>
                            <div class="item-ship-price">
                                <a>Phí vận chuyển: </a>
                                <a id="pay-ship">{{priceDelivery}} </a>
                            </div>
                            <hr>
                            <div class="item-end">
                                <a>Tổng thanh toán: </a>
                                <a id="pay-all">{{(cartDetailDto.price*cartDetailDto.quantity)+priceDelivery}}</a>
                            </div>
                        </div>
                    </div>
                </div>
             
                <div class="payment-method">
                    <div class="payment-accordion">
                        <div *ngIf="( checkCartButton==true || checkOrderAll==true )&& checkDeliveryButton==true && checkPaymentButton==true">
                            <div *ngIf="selectedPaymentId != 1">
                                <button style="margin-top: 15px;" class="btn-wrap order" type="submit" ><a href="{{link}}">Đặt hàng</a></button>
                            </div>
                          <div *ngIf="selectedPaymentId ===1">
                            <div >
                                <button style="margin-top: 15px;" class="btn-wrap order" (click)="submitOrder()" type="submit" >Đặt hàng</button>
                            </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="more-address">
                    <div class="more-address-head">
                        <h4> Địa chỉ</h4>
                    <a routerLink="/user/address" >Thêm địa chỉ mới</a>
                    </div>
                    <div class="more-address-list">
                        <form (ngSubmit)="submitForm()">
                            <a>
                                <div class="forlistAddress" *ngFor="let addresst of listAddress">
                                    <div class="more-address-item">
                                        <label>
                                            <input type="radio"  [checked]="selectedAddressId === addresst.id" 
                                            (change)="updateSelectedAddress(addresst.id)"
                                            name="addressId" />
                                          
                                        </label>
                                        <a>  <a > {{addresst.state}} {{addresst.street}} {{addresst.country}} {{addresst.city}}</a></a>
                                    </div>
                                </div>
                            </a>
                            <button class="btn-wrap select" (click)="CloseMore()"  type="submit">Chọn</button>
                        </form>
                    </div>
            </div>
    </div>
    
</div>

