.main-variation {

    /* align-items: center;  */
    /* Để căn giữa theo chiều ngang */
    /* justify-content: center;  */
    /* Để căn giữa theo chiều dọc */
    background-color:  #d0d0d0; /* Màu nền chung cho khối main-variation */
    /* Để tạo khoảng cách với các phần khác */
  }

  .variation-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Để tạo khoảng cách với các phần khác */
    margin-bottom: 20px; /* Để tạo khoảng cách với phần dưới */
    background-color:   #fff; /* Màu nền xám cho khối chứa form */
    padding: 20px; /* Khoảng cách giữa form và khung ngoài */
    height: 250px;
    width: 500px;
  }
  .form-fiel{
    padding: 20px;
  }
  .gray-background{
  /* Màu nền xám cho khối chứa form */
    padding: 20px; /* Khoảng cách giữa form và khung ngoài */
    height: 200px;
    width: 500px;

  }

  .variation-bottom {
    background-color: #fff; /* Màu nền cho phần bottom */
   /* Để tạo khoảng cách với các phần khác */
    margin-top: 20px; /* Để tạo khoảng cách với phần trên */
  
  }