
<mat-toolbar>{{categoryDto.name}}</mat-toolbar>
<div class="main-variation">
  <div class="variation-top">
    <div class="gray-background">
      <form class="form-variationoption" (ngSubmit)="createVariation()">
        <div class="form-fiel">
          <mat-label>Phân loại sản phẩm</mat-label>
          <mat-select name="name" [(ngModel)]="variationDto.name">
            <mat-option  value="Kích thước">
               Kích thước
            </mat-option>
            <mat-option  value="Màu sắc">
              Màu sắc
           </mat-option>
        </mat-select>
        </div>
          <div>
            <button class="btn-wrap add-prd" type="submit" mat-button >Thêm</button>
        </div>
      </form>
    </div>
  </div>
  <div class="variation-bottom">
    <table mat-table [dataSource]="listVariation" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <ng-container matColumnDef="Loại sản phẩm">
        <th mat-header-cell *matHeaderCellDef> Loại sản phẩm </th>
        <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
      </ng-container>
     
      <ng-container matColumnDef="Tên phân loại">
          <th mat-header-cell *matHeaderCellDef>Phân loại </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      <ng-container matColumnDef="Thao tác">
        <th mat-header-cell *matHeaderCellDef> Thao tác </th>
        <td mat-cell *matCellDef="let element">  
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle routerLink="/admin/category/{{element.id}}" routerLinkActive="active">Cập nhật</mat-button-toggle>
            <mat-button-toggle >Xóa</mat-button-toggle>
          </mat-button-toggle-group>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
