.content-body .swiper-pagination-bullet-active {
    background: #e74c3c;
}

.content-body .banner .img-banner {
    display: block;
    width: 100%;
    height: 450px;
}

.content-body .banner .img-banner img {
    width: 100%;
    height: 100%;
}

.content-body .main-product {
    margin-top: 35px;
}

.content-body .main-product .head-product {
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.content-body .main-product .head-product .filter-product form select {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
}

.content-body .main-product .head-product .search-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-body .main-product .filter-search {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content-body .main-product .head-product .search-wrap .search {
    position: relative;
}

.content-body .main-product .head-product .search-wrap .search input {
    border: unset;
    background: transparent;
    border-bottom: 1px solid #000;
    padding: 0px 10px;
}

.content-body .main-product .head-product .search-wrap .search i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
}

.content-body .main-product .head-product .search-wrap .cart a {
    position: relative;
    font-size: 20px;
}

.content-body .main-product .head-product .search-wrap .cart a .num {
    position: absolute;
    z-index: 0;
    right: -15px;
    top: 0px;
    color: #fff;
    background: #288ad6;
    font-size: 12px;
    width: 18px;
    height: 18px;
    padding: 0px;
    text-align: center;
    font-weight: 400;
    line-height: 18px;
    border-radius: 50%;
}

.content-body .main-product .head-product .cart .search-wrap from {
    display: flex;
    align-items: center;
}

.content-body .main-product .head-product .cart .search-wrap from .search input {
    border: unset;
    background: transparent;
    border-bottom: 1px solid #000;
    padding: 0px 10px;
}










footer {
    margin-top: 50px;
    border-top: 1px solid #ccc;
}

footer .wrap-footer {
    display: flex;
    justify-content: space-between;
    padding: 45px 0px;
}

footer .wrap-footer>div {
    width: 25%;
    padding-right: 50px;
    font-size: 14px;
}

footer .wrap-footer>div .title {
    color: #e74c3c;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

footer .wrap-footer>div .text-wrap {
    margin-bottom: 5px;
}

footer .wrap-footer>div p {
    opacity: .7;
}

footer .wrap-footer>div p>span {
    opacity: 1;
}

footer .wrap-footer>div .list-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

footer .wrap-footer>div .list-icon i {
    display: flex;
    font-size: 22px;
    color: #e74c3c;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.list-component-cate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list-component-cate li {
    border: 1px solid;
    margin: 0px 10px;
    display: grid;
    place-content: center;
}

.list-component-cate li:hover {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

.list-component-cate li a {
    padding: 5px 15px 5px;
}

.login-item img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#tooltip-login-wrap {
    position: relative;

}

.tooltip-login-hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.tooltip-login-hover .login-item {
    display: grid;
    justify-content: center;
}

.tooltip-login-hover .login-item a {
    display: grid;
    place-content: center;
    padding-left: 5px;
}

#tooltip-login-item {
    position: absolute;
    left: 0;
    top: 110%;
    background-color: lightblue;
    border-radius: 7px;
    width: 100%;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 10px;
}

#tooltip-login-item::before {
    content: '';
    position: absolute;
    left: 10px;
    top: -20%;
    border: 10px solid;
    border-color: #0000 #0000 lightblue #0000;
}

#tooltip-login-wrap:hover #tooltip-login-item {

    visibility: visible;
    opacity: 1;
}

#tooltip-login-item:hover #tooltip-login-item {

    visibility: visible;
    opacity: 1;
}

.money {
    color: blue;
}
.btn-wrap{
    display: flex;
    font-size: 15px;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 7px;
    text-decoration: unset;
    transition: all .3s ;
    cursor: pointer;
}
.btn-wrap i{
    line-height: 1;
    padding-bottom: 4px;
    padding-right: 2px;
    font-size: 16px;
}
ul, li{
    margin: 0;
    padding: 0
}
header{
   background-color: #fff;
   border-bottom: 1px solid #ccc;
   box-shadow: 0px 1px 3px 0px #00000054;
}
.container-large, .container-web{
    max-width: 1200px;
    margin:0px auto;
}
header .container-large .top-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    
}
header .container-large .top-box .logo a{
    color: #e74c3c;
    font-size: 24px;
    font-weight: 700;
}
header .container-large .top-box .logo a:hover{
    text-decoration: unset;
}
header .container-large .top-box .login-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .container-large .top-box .login-wrap .login-item{
    display: flex;
}
header .container-large .top-box .login-wrap .login-item.log a{
    background-color: #e74c3c;
    color: #fff;
    border-color: #e74c3c;
}
header .container-large .top-box .login-wrap .login-item.log a:hover{
    background-color: #cd2514; 
    border-color: #cd2514;
}
header .container-large .top-box .login-wrap .login-item.reg a{
    color: #e74c3c;
    border-color: #e74c3c;
}
header .container-large .top-box .login-wrap .login-item.reg a:hover{
    color: #fff;
    border-color: #e74c3c;
    background-color: #e74c3c;
}
.btn-wrap.logout{ 
    color: #e74c3c;
    border-color: #e74c3c;
    background-color: #fff;
}
.btn-wrap.logout:hover{
    background-color: #e74c3c;   
    color: #fff;
}
.bottom-box {
    padding-bottom: 15px;
}
.bottom-box .search-wrap  {
    display: flex;
    justify-content: flex-end;
}
.bottom-box .search-wrap .search-box form{
    position: relative;
}
.bottom-box .search-wrap .search-box input{
    outline: none;
    padding: 5px 10px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #000;
}
.bottom-box .search-wrap .search-box button{
    background-color: #fff;
    outline: none;
    border: unset;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
}
.bottom-box .search-wrap .cart-box{
    display: flex;
    line-height: 1;
    align-items: flex-end;
    color: #000;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
}
.bottom-box .search-wrap .cart-box  i{
    font-size: 18px;
}
.bottom-box .search-wrap .cart-box .num{
    position: absolute;
    top: 3px;
    right: -13px;
    display: block;
    line-height: 17px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #e74c3c;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.username-box {
    position: relative;
}
.username-box:hover .box-action{
    transform: scaleY(1);
}
.username-box .username{
    margin: 0;
    font-size: 15px;
    cursor: pointer;
    line-height: 2;
}
.username-box .box-action{
    position: absolute;
    width: auto;
    top: 120%;
    left: -50%;
    background-color: #fff;
    border: 1px solid #e74c3c;
    transform: scaleY(0);
    transform-origin: top;
    color: #fff;
    z-index: 2;
    transition: all .2s;
    border-radius: 7px;
}
.username-box .box-action::after{
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #e74c3c;
}
.username-box .box-action a{
    color: #e74c3c;
    text-decoration: unset;
    margin: 0;
    padding: 5px 0px;
    text-align: start;
    padding: 7px 10px;
    text-wrap: nowrap;
    display: flex;
    overflow: hidden;
    transition: all .2s;
}
.username-box .box-action a:hover{
    color: #ff1700;
    text-decoration: underline;
}
* {
    box-sizing: border-box;

}

.btn-wrap {
    display: flex;
    cursor: pointer;
    font-size: 15px;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 7px;
    text-decoration: unset;
    transition: all .3s;
    background-color: #fff;
}

.btn-wrap i {
    line-height: 1;
    padding-bottom: 4px;
    padding-right: 2px;
    font-size: 16px;
}

.container-web {
    max-width: 1200px;
    margin: 0px auto;
}

.content-body {
    width: 100%;
}

.detail-card-wrapper {
    max-width: 100%;
    margin-top: 50px;
}

.detail-card-wrapper .card {
    padding: 10px 25px;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

img {
    width: 100%;
    display: block;
}

.img-display {
    overflow: hidden;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

.img-showcase img {
    min-width: 100%;

}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;

}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-content .product-detail .box-detail p.title {
    padding: 0;
    color: #12263a;
    font-size: 16px;
    opacity: 1;
    margin-bottom: 10px;
    line-height: 1;
}

.product-content .product-detail .box-detail .item-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.product-content .product-detail .box-detail .item-detail input {
    opacity: 0;
    width: 0;
    position: absolute;
}

.list {
    display: flex;
    align-items: center;
}

.product-content .product-detail .box-detail .item-detail label {
    padding: 8px 20px;
    line-height: 1;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}
.product-content .product-detail .box-detail .item-detail.active label:hover {
    border: 1px solid #ccc;
    color: #ccc;
    opacity: 0.5;
}
.product-content .product-detail .box-detail .item-detail.active label:hover {
    border: 1px solid #ccc;
    color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
}

.product-content .product-detail .box-detail .item-detail label:hover {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}
<<<<<<< HEAD:src/app/user/component/detailproduct/detailproduct.component.css
.product-content .product-detail .box-detail .item-detail.active label:hover {
    border: 1px solid #ccc;
    color: #ccc;
    opacity: 0.5;
    cursor: not-allowed;
}
=======

.active{
    opacity: 0.5;
}

>>>>>>> c07be00be331b61647daeef4c6ffe2e2f0920c8c:src/app/component/detail-product/detail-product.component.css
.product-content .product-detail .box-detail .item-detail input:checked~label {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

.product-content .product-detail .box-detail .amount {
    display: flex;
    align-items: center;
}

.product-content .product-detail .box-detail .amount h6 {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    color: #a9a9a9;
}

.product-content .product-detail .box-detail .amount input {
    width: 70px;
    height: 32px;
    font-size: 16px;
    outline: none;
}

.product-content .product-detail .get-product {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0px 50px 0px;
}

.product-content .product-detail .get-product button {
    border: 1px solid;
    border-radius: 0px;
    width: 35%;
}

.product-content .product-detail .get-product .add {
    color: #e74c3c;
    border-color: #e74c3c;
}

.product-content .product-detail .get-product .add:hover {
    color: #fff;
    background: #e74c3c;
    border-color: #e74c3c;
}

.product-content .product-detail .get-product .buy {
    background: #e74c3c;
    border-color: #e74c3c;
    color: #fff
}

.product-content .product-detail .get-product .buy:hover {
    filter: brightness(0.9);
}

.product-title {
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 10px 0px;
}

.product-describe h3,
.product-rating h3 {
    font-size: 20px;
    margin: 10px 0px;
    background: #cccccc57;
    padding: 5px;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating .product-rating-list {
    border: 1px solid #ccc;
    padding: 30px 20px;
}

.product-rating .infor-cmt {
    display: flex;
    margin-bottom: 10px;
}

.product-rating .infor-cmt .ava-cmt {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.product-rating .utc2-product-rating {
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}
.product-rating .date-box{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    font-weight: 500;
}
.product-rating p{
    margin: 0;
}
.product-rating  span{
    font-weight: 500;
    
}
.product-rating .date-box p span{
    font-size: 15px;
    color: #ccc;
    font-weight: 500;
}
.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #a9a9a9;
    text-decoration: line-through;
}

.new-price span {
    color: #FF4500;

}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 2rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.info span {
    margin-left: 10px;
}

.size {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.size p {
    font-size: 1rem;

}


.psize p {
    width: 180px;
    height: 36px;
    border: 1px solid lightgray;
    color: #000;
    text-align: center;
    margin: 0 10px;

    cursor: pointer;
}

.psize.active {
    border-width: 1.5px;
    color: rgb(137, 5, 5);
    border: 1px solid rgb(137, 5, 5);
}

.psize p:hover {
    border: 1px solid rgb(137, 5, 5);
    color: rgb(137, 5, 5);
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    opacity: 0.9;
    margin: 0.4rem 0;
    font-size: 1rem;
    font-weight: 600;
    opacity: 0.9;
}

.product-content ul li span {
    font-weight: 400;
}

.purchase-info {
    display: flex;

    margin: 1.5rem 0;
}

.purchase-info p {
    margin: 0 10px;
    margin-left: 0;
    font-size: 1rem;
}


.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.5rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 0.5rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;

}

.purchase-info .btn:first-of-type {
    background: #f5dad0;
    border: 1.5px solid #FF4500;
    color: #FF4500;
}

.purchase-info .btn:last-of-type {
    background: #FF4500;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links {
    display: flex;
    align-items: center;

}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #e74c3c;
    border: 1px solid #e74c3c;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #e74c3c;
    border-color: transparent;
    color: #fff;
}

.setting-wrap {
    margin-top: 35px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.setting-wrap h2.title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 14px;
    text-transform: capitalize;
    vertical-align: middle;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.setting-wrap .setting-box .nav-item .nav-link {
    color: #e74c3c;
}

.setting-wrap .setting-box .nav-item .nav-link.active {
    background-color: #e74c3c;
    color: #fff;
}

.setting-wrap .setting-box .col-md-2 {
    border-right: 1px solid #ccc;
}

.setting-wrap .setting-box .wrap-btn.save {
    color: #fff;
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    padding: 10px 20px;
}

.setting-wrap .setting-box .wrap-btn.save:hover {
    filter: brightness(0.95);
}

.setting-wrap .setting-box input:focus {
    box-shadow: unset;
    border: 1px solid #e74c3c;
}

.setting-wrap .setting-box .up-img:focus {
    box-shadow: unset;
    border: unset;
}

.item-btn {
    display: flex;
}

.item-btn .radio-label .inputbutton {
    width: 0px;
}

.item-btn .radio-label label {
    height: 20px;
    width: 50px;
    text-align: center;
    line-height: 20px;
    border: 1px solid #000;
}

.item-btn .radio-label .inputbutton[type="radio"]:checked+label {
    border: 1px solid #e74c3c;
    color: #e74c3c;
}

@media screen and (min-width: 992px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .card-wrapper {
        height: 100vh;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .variation {
        display: flex;
        align-items: center;

    }

    .product-imgs {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    .product-content {
        padding-top: 0;
    }
}