
    
    <div class="container">
      <div class="header">
        <!-- <img  [src]="'http://localhost:8080/images/success.jpg/' "  > -->
          <h1>Đặt hàng thành công</h1>
      </div>
      <div class="order-info"> 
          <p>Cảm ơn bạn đã đặt hàng tại cửa hàng của chúng tôi</p>
          <p>Đơn hàng sẽ được xác nhận ra vận chuyển nhanh nhất.</p>
          <button (click)="handlerButtonOrdered()" class="btn-donmua">Thông tin đơn hàng</button>
          <br>
          <button (click)="handleButton()" class="btn-thanhtoan">Quay về trang chủ</button>
      </div>
  </div>
 

