


<header>
    <div class="container-large">
        <div class="top-box">
            <div class="logo" >
                <a class="" ><span>UTC2</span><span>Store</span></a>
            </div>
       
<div *ngIf="!isAdminLoggedIn && !isUserLoggedIn">
    <div class="login-wrap">
        <div class="login-item">
            <a class="" routerLink="/login" routerLinkActive="active"> <i class="fa-solid fa-circle-user"></i> Đăng nhập</a>
        </div>
        <div class="login-item">
            <a class="" routerLink="/signup" routerLinkActive="active"> <i class="fa-solid fa-phone"></i>Đăng kí</a>
        </div>
    </div>
</div>
<div *ngIf="isAdminLoggedIn ">
    <div id="tooltip-login-wrap"><li class="login-item">
        <img  style="width:35px;height:35px;" />
    </li>
    <li class="login-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <span id="username">Tên Admin</span>
        </a>
    </li>
        <div class="tooltip-login-hover"></div>
        <div id="tooltip-login-item">
                <div class="menu-item">
                    <a class="nav-link ">Quản lí </a>
                </div>
            <form class="form-inline" >
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng Xuất</button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="isUserLoggedIn">
    <div id="tooltip-login-wrap">
        <div class="tooltip-login-hover"><li class="login-item">
            <img  style="width:35px;height:35px;" />
        </li>
        <li class="login-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <span id="username">Tên khách hàng</span>
            </a>
        </li></div>
        <div id="tooltip-login-item">
          
            <div class="menu-item">
                <a class="nav-link" >
                    <span>Thông Tin Tài Khoản</span>
                </a>
            </div>
            
            <form class="form-inline" >
                <button type="submit" class="nav-link btn btn-link text-dark">Đăng Xuất</button>
            </form>
        </div>
    </div>
</div>


        </div>
        <div class="bottom-box">
            <ul class="main-menu">
            </ul>
            <div class="search-wrap">
                <div class="search-box">
                    <form class="form-inline"  asp-action="Index" method="get" style="display: flex; flex-direction: row;">
                        <div class="">
                            <input type="text" name="searchName" placeholder="Search">
                        </div>
                        <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <a class="cart-box" >
                    <i class="bi bi-cart"></i>
                    <span id="cartCount" class="num">0</span>
                </a>
            </div>
        </div>
    </div>
</header>
<div class="content-body">
    <router-outlet></router-outlet>
</div>
<footer>
    <div class="container-large">
        <div class="wrap-footer">
            <div class="about-us">
                <div class="title fw-semibold">Về chúng tôi</div>
                <div class="logo">
                    <a class="" ><span>UTC2</span><span>Store</span></a>
                </div>
                <p class="fw-lighter pt-2">Đến với UTC2<span>STORE</span> quý khách sẽ được trải nghiệm các sản phẩm hoàn toàn mới với chất lượng đảm bảo uy tín - mẫu mã.</p>
            </div>
            <div class="other-us">
                <div class="title fw-semibold">Chi nhánh</div>
                <span class="fw-lighter">Cơ sở: <span class="fw-bold">Đ.448 Lê Văn Việt, P. Tăng Nhơn Phú A, Tp.Thủ Đức, Tp</span></span><br />
            </div>
            <div class="contact-us">
                <div class="title fw-semibold">Liên hệ</div>
                <div class="text-wrap">
                    <p class="fw-lighter">Điện thoại</p>
                    <span class="fw-bold">0399333643</span>
                </div>
                <div class="text-wrap">
                    <p class="fw-lighter">Email CSKH</p>
                    <span class="fw-bold">6251071033@st.utc2.edu.vn</span>
                </div>
                <div class="text-wrap">
                    <p class="fw-lighter">Email công việc</p>
                    <span class="fw-bold">phuochungnguyen.work@gmail.com</span>
                </div>
                <div class="text-wrap">
                    <p class="fw-lighter">Thứ Hai - Chủ Nhật</p>
                    <span class="fw-bold">8h30-22h</span>
                </div>
            </div>
            <div class="follow-us">
                <div class="title fw-semibold">Hệ thống cửa hàng</div>
                <p class="fw-lighter">Hiện tại @item.namestorage<span>STORE</span> chỉ hoạt động kinh doanh qua các kênh trực tuyến: Website, Facebook, Instagram, Shopee, Lazada & Tiktok shop</p>
                <div class="list-icon">
                    <a >  <i class="fa-brands fa-instagram"></i></a>
                    <a > <i class="fa-brands fa-facebook-f"></i></a>
                    <a>  <i class="fa-brands fa-tiktok"></i></a>
                    <a > <i class="fa-brands fa-youtube"></i></a>
                
                </div>
            </div>
        </div>
    </div>
</footer>