
<div *ngIf="!isAdminLoggedIn && !isUserLoggedIn">
    <a routerLink="" routerLinkActive="active"><h2>UTC2 STORE</h2></a>
    <a routerLink="/login" routerLinkActive="active">Đăng nhập</a>
    <a routerLink="/signup" routerLinkActive="active">Đăng kí</a>
</div>
<div *ngIf="isAdminLoggedIn ">
    <a routerLink="" routerLinkActive="active"><h2>UTC2 STORE</h2></a>
    <a routerLink="/login" routerLinkActive="active">Admin</a>
    <a routerLink="/signup" routerLinkActive="active">Đăng xuất</a>
</div>
<div *ngIf="isUserLoggedIn">
    <a routerLink="" routerLinkActive="active"><h2>UTC2 STORE</h2></a>
    <a routerLink="/login" routerLinkActive="active">User</a>
    <a routerLink="/signup" routerLinkActive="active">Đăng xuất</a>
</div>


<router-outlet></router-outlet>