
<div *ngIf="isAdminLoggedIn">
    <div class="admin-layout-main">
        <div class="admin-sidebar">
            <div class="admin-profile">
                <a class="name" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <span id="username">Tên Admin</span>
                </a>
                <form class="form-inline" (ngSubmit)=" logout()" >
                    <button type="submit" class="nav-link btn btn-link text-dark">Đăng Xuất</button>
                </form>
            </div>
            <ul class="admin-menu">
                <li class="item-menu">
                    <a routerLink="/admin/dashboard">
                        <div class="title">
                            <div class="item-icon"><i class="fas fa-home"></i></div>
                            <h3 routerLink="/admin/dashboard">Trang Chủ</h3>
                        </div>
                        <div class="show d-none"><i class="fa-solid fa-angle-up"></i></div>
                    </a>
                </li>
                <li class="item-menu">
                    <a routerLink="/admin/list-product">
                        <div class="title">
                            <div class="item-icon"><i class="bi bi-cart4"></i></div>
                            <h3>Quản lý sản phẩm</h3>
                        </div>
                     
                    </a>
                </li>
            
                <li class="item-menu">
                    <a >
                        <div class="title">
                            <div class="item-icon"><i class="bi bi-list-check"></i></div>
                            <h3>Quản lý đơn hàng</h3>
                        </div>
                        <div class="show"><i class="fa-solid fa-angle-up"></i></div>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Admin/orders">Thông tin đơn hàng</a></li>
                        <li class="submenu-item"><i class="bi bi-dot"></i><a href="/Admin/orders/history">Lịch sử đơn hàng</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="admin-content">
         <router-outlet></router-outlet>
        </div>
    </div>
    </div>