<div *ngIf="isAdminLoggedIn">
  <div class="admin-layout-main">
    <div class="admin-sidebar">
      <div class="admin-profile">
        <a class="name" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
          <span id="username">Tên Admin</span>
        </a>
        <form class="form-inline" (ngSubmit)=" logout()">
          <button type="submit" class="logout-btn nav-link btn btn-link text-light"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </form>
      </div>
      <div class="side-bar">
        <div class="menu" (click)="toggleSubMenu($event)">
          <div class="item"><a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a></div>
          <div class="item">
            <a class="sub-btn">Quản lý danh mục<i class="fa-solid fa-angle-down"></i></a>
            <div class="sub-menu">
              <a routerLink="/admin/add-category" routerLinkActive="active" class="sub-item">Loại sản phẩm</a>
              <a routerLink="/admin/list-product" routerLinkActive="active" class="sub-item">Sản phẩm</a>
            </div>
          </div>
          <div class="item">
            <a class="sub-btn">Quản lý đơn hàng<i class="fa-solid fa-angle-down"></i></a>
            <div class="sub-menu">
              <a routerLink="/admin/orderAll" routerLinkActive="active" class="sub-item">Tất cả</a>
              <a routerLink="/admin/order-wait-accept" routerLinkActive="active" class="sub-item">Chờ duyệt</a> 
              <a routerLink="/admin/order-wait-transport" routerLinkActive="active" class="sub-item">Chờ giao</a> 
              <a routerLink="/admin/order-in-transport" routerLinkActive="active" class="sub-item">Đang giao</a> 
              <a routerLink="/admin/order-complete" routerLinkActive="active" class="sub-item">Đã giao</a> 
            </div>
          </div> 
          <div class="item">
            <a class="sub-btn">Quản lý tài khoản<i class="fa-solid fa-angle-down"></i></a>
            <div class="sub-menu">
              <a routerLink="/admin/user-all" routerLinkActive="active" class="sub-item">Tất cả</a>
              <!-- <a href="#" class="sub-item">Khôi phục tài khoản</a> -->
            </div>
          </div> 
    
          <div class="item">
            <!-- <a class="sub-btn">Quản lý phương thức thanh toán<i class="fa-solid fa-angle-down"></i></a> -->
            <a routerLink="/admin/payment" routerLinkActive="active" class="sub-item">Thêm phương thức thanh toán</a>
            <div class="sub-menu">
              
            </div>
          </div> 
        </div>
      </div>


      <!-- <mat-accordion class="sidebar-item">
       <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quản lí danh mục
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <a routerLink="/admin/add-category" routerLinkActive="active">Loại sản phẩm</a>
          </p>
          <p>
            <a routerLink="/admin/list-product" routerLinkActive="active">Danh sách sản phẩm</a>
          </p>

        </mat-expansion-panel> 

      </mat-accordion>
      <mat-accordion class="sidebar-item">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quản lí đơn hàng
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <a >Tất cả</a>
          </p>
          <p>
            <a >Đơn hàng chờ duyệt</a>
          </p>
          <p>
            <a >Đơn hàng chờ giao</a>
          </p>
          <p>
            <a >Đơn hàng đang giao</a>
          </p>
          <p>
            <a >Đơn hàng hoàn thành</a>
          </p>
          <p>
            <a>Đơn hàng bị hủy</a>
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion class="sidebar-item">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Quản lí tài khoản
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <a routerLink="/admin/user-all" routerLinkActive="active">Tất cả</a>
          </p>
          <p>
            <a>Khôi phục tài khoản</a>
          </p>
        </mat-expansion-panel>
      </mat-accordion> -->

    </div>
    <style>

    </style>
    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".menu .item").click(function () {
      console.log(1)
    });
  });

</script>