
<mat-toolbar>Cập nhật sản phẩm</mat-toolbar>
<form (ngSubmit)="updateProduct()" class="form-update">
 
    <div class="form-input">
        <label class="form-label">Tên sản phẩm</label>
        <input class="form-control" type="text" [(ngModel)]="productUpdate.productName"   name="productName" value="{{dto.productName}}">
    </div>
    <div class="img-showcase">
        <img  [src]="'http://localhost:8080/images/'+dto.image" style="width: 100px;height: 100px;" >
    </div>
    <div class="form-input">
        <label class="form-label">Mô tả</label>
        <input class="form-control" type="text" [(ngModel)]="productUpdate.description"    name="description" value="{{dto.description}}">
    </div>
    <div>
        <button class="btn-wrap add-prd" type="submit">Cập nhật</button>
    </div>
</form>

<div>
    
    <!-- <div *ngIf="dto.productId">
      <h2>{{ dto.name }}</h2>
      <p>Price: <input type="text" [(ngModel)]="dto.price"></p>
      <p>Description: <textarea [(ngModel)]="dto.description"></textarea></p>
     
      <button (click)="updateProduct()">Update Product</button>
    </div> -->
  </div>


