.example-container {
    display: block;
 
  }
  .example-container > * {
    width: 70%;
  }
  

  .container {
    display: flex;
    width: 100%;
  }
  
  .example-container, .image {
    flex: 1;
    margin-right: 20px; /* Thêm khoảng cách giữa 2 khối */
  }
  