
<form  (ngSubmit)="addVariation()">
    <div>
        <label>SELECT CATEGORY</label>
        <select [(ngModel)]="variation.categoryId" name="categoryId">
        <option *ngFor="let category of listOfCategories" [value]="category.id">
        {{category.name}}
        </option>
        </select>
    </div>
    <div>
        <label>Phân loại</label>
        <select [(ngModel)]="variation.name" name="name">
            <option value="size" >
                Size
            </option>
            <option value="color" >
                Color
            </option>
        </select>
    </div>
    <div>
        <label>Giá trị</label>
        <input type="text" [(ngModel)]="variation.value" name="value">
    </div>
    <div>
        <button type="submit">THÊM</button>
    </div>
</form>
