<div>
    <header>
        <div class="container-large">
            <div class="top-box">
                <div class="logo" style="cursor: pointer;">
                    <a routerLink="/user/home" routerLinkActive="active"><span>UTC2</span><span style="color: #000;">Store</span></a>
                </div>
                <div>
                    <div id="tooltip-login-wrap">
                        <div class="tooltip-login-hover">
                            <li class="login-item">
                                <img style="width:35px;height:35px;" />
                            </li>
                            <li class="login-item">
                                <!-- <a class="nav-link text-dark" title="Manage">
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <span id="username">Tên khách hàng</span>
                                                </mat-panel-title>

                                            </mat-expansion-panel-header>
                                            <a routerLink="/user/userInfor" routerLinkActive="active">Thông tin tài
                                                khoản</a>
                                            <a routerLink="/user/historyOrder" routerLinkActive="active">Thông tin đơn
                                                hàng</a>
                                        </mat-expansion-panel>
                                    </mat-accordion>


                                </a> -->
                                <div class="username-box">
                                    <p class="username">Vu Nguyen Hoang Bao</p>
                                    <div class="box-action">
                                        <a routerLink="/user/userInfor" routerLinkActive="active">Thông tin tài
                                            khoản</a>
                                        <a routerLink="/user/historyOrder" routerLinkActive="active">Thông tin đơn
                                            hàng</a>
                                    </div>
                                </div>

                            </li>
                            <li class="login-item">
                                <form class="form-inline" (ngSubmit)=" logout()">
                                    <button type="submit" class="logout btn-wrap">Đăng Xuất</button>
                                </form>
                            </li>


                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-box">
                <ul class="main-menu">
                </ul>
                <div class="search-wrap">
                    <div class="search-box">
                        <form class="form-inline" asp-action="Index" method="get"
                            style="display: flex; flex-direction: row;">
                            <div class="">
                                <input type="text" name="searchName" placeholder="Search">
                            </div>
                            <button class="" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                    <a class="cart-box" routerLink="/userCart">
                        <i class="bi bi-cart"></i>
                        <span class="num">{{cartCount}}</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="content-body">
        
        <router-outlet>
            <!-- <div class="banner">
                <img style="padding-top: 1px;
                width: 100%;
                height: 500px;" src="../../assets/images/banner.webp" alt="">
            </div> -->
        </router-outlet>
    </div>
    <footer>
        <div class="container-large">
            <div class="wrap-footer">
                <div class="about-us">
                    <div class="title fw-semibold">Về chúng tôi</div>
                    <div class="logo">
                        <a class=""><span>UTC2</span><span>Store</span></a>
                    </div>
                    <p class="fw-lighter pt-2">Đến với UTC2<span>STORE</span> quý khách sẽ được trải nghiệm các sản phẩm
                        hoàn toàn mới với chất lượng đảm bảo uy tín - mẫu mã.</p>
                </div>
                <div class="other-us">
                    <div class="title fw-semibold">Chi nhánh</div>
                    <span class="fw-lighter">Cơ sở: <span class="">Đ.448 Lê Văn Việt, P. Tăng Nhơn Phú A, Tp.Thủ
                            Đức, Tp</span></span><br />
                </div>
                <div class="contact-us">
                    <div class="title fw-semibold">Liên hệ</div>
                    <div class="text-wrap">
                        <p class="fw-lighter">Điện thoại</p>
                        <span class="">0399333643</span>
                    </div>
                    <div class="text-wrap">
                        <p class="fw-lighter">Email CSKH</p>
                        <span class="">6251071033@st.utc2.edu.vn</span>
                    </div>
                    <div class="text-wrap">
                        <p class="fw-lighter">Email công việc</p>
                        <span class="">phuochungnguyen.work@gmail.com</span>
                    </div>
                    <div class="text-wrap">
                        <p class="fw-lighter">Thứ Hai - Chủ Nhật</p>
                        <span class="">8h30-22h</span>
                    </div>
                </div>
                <div class="follow-us">
                    <div class="title fw-semibold">Hệ thống cửa hàng</div>
                    <p class="fw-lighter">Hiện tại @item.namestorage<span>STORE</span> chỉ hoạt động kinh doanh qua các
                        kênh trực tuyến: Website, Facebook, Instagram, Shopee, Lazada & Tiktok shop</p>
                    <div class="list-icon">
                        <a> <i class="fa-brands fa-instagram"></i></a>
                        <a> <i class="fa-brands fa-facebook-f"></i></a>
                        <a> <i class="fa-brands fa-tiktok"></i></a>
                        <a> <i class="fa-brands fa-youtube"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>