<mat-toolbar>Quản lý đơn chờ duyệt</mat-toolbar>
<form (ngSubmit)="duyetDonHang()">
  <table mat-table [dataSource]="history" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox 
      
        name="SelectId"
        [checked]="element.id === SelectId"
        (change)="onCheckboxChange(element.id)">
      
    </mat-checkbox>
         </td>
    </ng-container>
  
    <ng-container matColumnDef="ảnh">
      <th mat-header-cell *matHeaderCellDef>Ảnh</th>
      <td mat-cell *matCellDef="let element"> 
        <img  [src]="'http://localhost:8080/images/'+element.image" style="width: 80px;height: 80px;" >
       </td>
    </ng-container>
  
    <ng-container matColumnDef="ten">
      <th mat-header-cell *matHeaderCellDef> Tên sản phẩm</th>
      <td mat-cell *matCellDef="let element" class="product-name-cell"> {{element.productName}} </td>
    </ng-container>
      <ng-container matColumnDef="tennguoidung">
        <th mat-header-cell *matHeaderCellDef>Tên người dùng  </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
      <ng-container matColumnDef="thanhtoan">
        <th mat-header-cell *matHeaderCellDef>Thanh toán  </th>
        <td mat-cell *matCellDef="let element"> {{element.paymentStatus}} </td>
      </ng-container>
      <ng-container matColumnDef="thaotac">
        <th mat-header-cell *matHeaderCellDef>Thao tác </th>
        <td mat-cell *matCellDef="let element"> 
          <button ><a routerLink="/admin/detail-order/{{element.id}}" routerLinkActive="active">Chi tiết</a></button>
        <button >Chờ duyệt</button> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</form>

  
  
  
  <!-- Copyright 2024 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->
