
<div class="main-product">
    <div class="container-web">
        <div class="head-product">
            <div class="title-component-cate">Danh mục: </div>
            <div class="list-component-cate">
                
                <li>
                    <a >Loại sản phẩm</a>
                </li>
            </div>
            <div class="state-component-cate"></div>   
        </div>
<div class="list-product" *ngFor="let product of products">
        <div class="item-product">
            <div class="img-box">
                <img [src]="product.processImage" alt="product-image">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <div class="card-detail">
                    <p class="card-text money">{{product.description}}</p>
                    <span class="card-rate">4.5<i class="fa-solid fa-star"></i></span>
                </div>
                <div class="box-button">
                    <button class="wrap-btn detail" routerLink="/user/product/{{product.id}}" >Chi tiết sản phẩm</button>
                </div>
            </div>
        </div>   
</div>
    </div>
</div>