<div class="dialog">
    <h1>Bạn chưa cập nhật địa chỉ!</h1>
    <p>Bạn có muốn thêm địa chỉ hay không?</p>
    <div style="display: flex; gap: 15px;">
        <button class="btn-wrap btn1" mat-button [mat-dialog-close]="'OK'">OK</button>
        <button class="btn-wrap" (click)="onCancelClick()">Cancel</button>
    </div>
</div>
<style>
    .dialog {
        padding: 30px 20px;
    }

    h1 {
        font-size: 20px;
        color: #e74c3c;
    }

    .btn-wrap {
        display: flex;
        cursor: pointer;
        font-size: 15px;
        padding: 0 10px;
        width: 100%;
        height: 30px;
        align-items: center;
        justify-content: center;
        border: 2px solid #e74c3c;
        border-radius: 5px;
        text-decoration: unset;
        transition: all .3s;
        background-color: #fff;
        color: #e74c3c;
    }

    .btn1 {
        background-color: #e74c3c;
        color: #FFF;
    }
    .btn1:hover{
        filter: brightness(0.9);
    }
    .btn-wrap i {
        line-height: 1;
        padding-bottom: 4px;
        padding-right: 2px;
        font-size: 16px;
    }
</style>